useDynLib(lazy.frame)
export('lazy.frame')
export('column_attr')
export('column_attr<-')
import('utils')

# S3 methods
S3method('Ops',lazy.frame)
S3method('[',lazy.frame)
S3method('[<-',lazy.frame)
S3method('names',lazy.frame)
S3method('dimnames',lazy.frame)
S3method('names<-',lazy.frame)
S3method('dimnames<-',lazy.frame)
S3method('head',lazy.frame)
S3method('tail',lazy.frame)
S3method('str',lazy.frame)
S3method('print',lazy.frame)
S3method('ncol',lazy.frame)
S3method('nrow',lazy.frame)
S3method('dim',lazy.frame)
